/.next/
/out/
/build
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm/
.git
.github
.gitignore
.env*.local
.env.development.local
.env.test.local
.env.production.local
.vscode/
.idea/
.DS_Store
docker-compose*.yml
Dockerfile*
.dockerignore
.vercel
coverage/
README.md
